@charset "UTF-8";
/*-webkit-animation:tras 10s linear infinite/forwards;*/
@keyframes text {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}
@keyframes igo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes rule {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes num {
  0% {
    transform: scale(2);
    opacity: 0.8;
  }
  20% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
